@{
    ViewData["Title"] = "Error";
}
<div style="margin-bottom:100px; margin-top:50px; margin-bottom:230px">

<div class="container" style="text-align: center;  color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">404</h1>
    <p style="font-size: 50px; ">Page not found</p>
    
</div>


<h2>@ViewBag.ErrorMessage</h2>


</div>


